/*** NAV BAR ***/
#navbar {
  background-color: #924B34;
  overflow: hidden;
  max-width: 900px;}

#navbar a {
  float: left;
  display: block;
  color: #FCFDFD;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px; }

#navbar a:hover {
  background-color: #AB662F;
  color: #FCFDFD; }

#navbar a.active {
  background-color: #AB662F;
  color: #FCFDFD; }

#navbar .icon {
  display: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

/*** BOTTOM SOCIALS BAR ***/
.socials-bar {
  width: 100%;
  color: #FCFDFD;
  background-color: #924B34;
  overflow: hidden;
  bottom: 0; }

.socials-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 5px 0;
  transition: all 0.3s ease;
  font-size: 36px; }

.footer {
  background-color: #924B34; }

.socials-here {
  color: #FCFDFD;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 0; }

/*** SCHEDULE CARDS ***/
* {
  box-sizing: border-box; }

.column {
  float: left;
  width: 100%;
  padding: 10px 10px; }

.row {margin: 0 -5px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.card {
  box-shadow: 0 4px 8px 0 #6B8A57;
  padding: 16px;
  text-align: center;
  color: #C1843D;
  background-color: #404E39; }

.da {
  height: 180px;
  width: 360px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px; }
}

.days {
  border-bottom: 3px solid #924B34;
  width: 100%;
  margin: 5px; }

.sched-time {
  margin: 0 auto;
  font-size: 30px; }

  .DPDC{
    display:table;
    position:relative;
    box-sizing:border-box;
    font-size:100.01%;
    font-style:normal;
    font-family:Arial;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    user-select:none; }

  .DPDCh,.DPDCd{
    width:fit-content;
    line-height:1.4; }

  .DPDCh{
    margin-bottom:1em; }

  .DPDCd{
    margin-top:.24em; }

  .DPDCt{
    line-height:1; }

  .DPDCth,.DPDCtm,.DPDCts{
    display:inline-block;
    vertical-align:text-top;
    white-space:nowrap; }

  .DPDCth{
    min-width:1.15em; }

  .DPDCtm,.DPDCts{
    min-width:1.44em; }

  .DPDCtm::before,.DPDCts::before{
    display:inline-block;content:':';
    vertical-align:middle;
    margin:-.34em 0 0 -.07em;
    width:.32em;
    text-align:center;
    opacity:.72;
    filter:alpha(opacity=72); }

  .DPDCt12{
    display:inline-block;
    vertical-align:text-top;
    font-size:40%; }

  .DPDCdm::after{
    content:' '}

  .DPDCda::after{
    content:', '}

  .DPDCdt{
    margin-right:.48em; }

  .DPDCtn{
    display:inline-block;
    position:relative;
    width:13px;
    height:13px;
    border:2px solid;
    border-radius:50%;
    overflow:hidden; }

  .DPDCtn>i{
    display:block;
    content:'';
    position:absolute;
    right:33%;
    top:-5%;
    width:85%;
    height:85%;
    border-radius:50%; }

  .DPDCs{
    margin:.96em 0 0 -3px;
    font-size:90%;
    line-height:1;
    white-space:nowrap; }

  .DPDCs sup{
    padding-left:.24em;
    font-size:65%; }

  .DPDCsl::before,.DPDCsl::after{
    display:inline-block;
    opacity:.4; }

  .DPDCsl::before{
    content:'~';
    margin:0 .12em; }

  .DPDCsl::after{
    content:'~';
    margin:0 .24em; }

  .DPDCs svg{
    display:inline-block;
    vertical-align:bottom;
    width:1.2em;
    height:1.2em;
    opacity:.48; }

  .DPDC{
    width:100%;
    padding:10px;
    background-color:#ffffff;
    border:1px solid #343434;
    border-radius:8px;
    text-align: center; }

  .DPDCh{
    color:#007DBF;
    font-weight:normal; }

  .DPDCt,.DPDCd{
    color:#343434;
    font-weight:bold; }

  .DPDCt{
    font-size:48px; }

  .DPDCh,.DPDCd{
    font-size:16px; }

/*** FAQ PAGE ***/
.faq-jumps {
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  border-bottom: 3px solid #924B34;
  text-align: center; }

.setup-list {
  display: flex;
  justify-content: center; }

.parts {
  text-align: right;
  margin-right: 5px;
  margin-left: 150px;
  line-height: 0.5;
  color: #FCFDFD; }

.my-parts {
  text-align: left;
  margin-left: 5px;
  line-height: 0.5; }

.game-list {
  width: 100%;
  column-count: 3;
  column-gap: 20px;
  column-width: 150px;
  margin: 0 auto;
  margin-left: 50px;
  text-align: left; }

.faq-container {
  width: 100%;
  position: relative;
  background: #3A3B33; }

.faq-question {
  display: none;
  padding: 30px;
  text-align: center; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #924B34;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white; }

.dot-container {
  text-align: center;
  padding: 10px;
  background: #3A3B33; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #924B34;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #FCFDFD; }

.answer {color: #C1843D; }

/*** MY CSS ADDITIONS ***/
* {
  font-family: "Allan"; }

div.header img {
  width: 100%;
  height: auto; }

.shheader {
  border-bottom: 5px solid #924B34; }

.selfies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px; }

div.selfie-block img {
  border: 5px solid #AB662F;
  border-bottom: 10px solid #AB662F; }

.intro {
  line-height: 1.5;
  font-size: 20px;
  text-align: center;}

.intro-line   {
  height: 5px;
  width: 100%;
  border-width: 0;
  background-color: #924B34; }

.fav-games {
  list-style-position: inside;
  list-style-type: none; }

.vbi, .inky {
  text-decoration: underline;
  color: #924B34; }

.emotes-gif {
  width: 100%;
  height: auto; }

/*** Comet CSS ***/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  box-sizing: border-box;}

body {
  color: #6B8A57;
  font-weight: bold;
  background-color: #3A3B33;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-family: "Aclonica";
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  margin-top: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #C1843D;
  text-align: center; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #C1843D; }

a:hover {
  color: #AB662F;
  border-bottom-color: #C1843D; }

a:active, a:hover {
  outline-width: 0; }

small {
  font-size: 80%; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"],[type="submit"] {
  -webkit-appearance: button;
  color: #FCFDFD;
  background: #C1843D;
  border-radius: .4rem;
  border: 0.2rem solid #AB662F; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 3px solid #924B34;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  text-align: center;}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

*, *:after, *:before {
  box-sizing: inherit; }

@media print {
  body {
    -webkit-print-color-adjust: exact; }
  a[href^="http://"]:after, a[href^="https://"]:after,
  a[href^="www."]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after {
    display: none; } }

.button {
  display: inline-block;
  padding: 0 2rem;
  font-family: inherit;
  font-size: 1.04167rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: .05rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #C1843D;
  background-color: #404E39;
  border: 0.2rem solid #6B8A57;
  border-radius: .4rem;
  cursor: pointer; }
.button:disabled {
  opacity: 0.8;
  cursor: not-allowed; }
.button:disabled:hover {
  background-color: #404E39;
  border-color: #6B8A57; }
.button:hover, .button:focus, .button:active {
  color: #3A3B33;
  background-color: #404E39;
  border-color: #6B8A57;
  outline: none; }
.button--small {
  padding: 0 1rem;
  font-size: 0.86806rem;
  line-height: 3rem; }
.button--large {
  font-size: 1.5rem;
  line-height: 6rem; }
.button--outline {
  color: #6B8A57;
  background-color: transparent; }
.button--outline:disabled:hover {
  color: #6B8A57;
  background-color: transparent; }
.button--outline:hover {
  color: #6B8A57;
  background-color: transparent; }
.button--clear {
  color: #6B8A57;
  background-color: transparent;
  border-color: transparent; }
.button--clear:disabled:hover {
  color: #6B8A57;
  background-color: transparent;
  border-color: transparent; }
.button--clear:hover {
  color: #6B8A57;
  background-color: transparent;
  border-color: transparent; }

fieldset {
  margin: 0;
  padding: 10px;
  border: 3px solid #924B34; }

label, .form > .form__label {
  display: block;
  margin-bottom: .2rem;
  font-size: 25px;}

input[type='email'], input[type='number'], input[type='password'],
input[type='search'], input[type='tel'], input[type='text'],
input[type='url'], textarea {
  display: inline-block;
  width: 50%;
  margin-bottom: 2.3rem;
  padding: 1rem 1.3rem;
  font-family: inherit;
  font-weight: lighter;
  color: #404E39;
  border: 0.2rem solid #AB662F;
  border-radius: .4rem;
  outline: none; }

input[type='email']:focus, input[type='email']:active,
input[type='number']:focus, input[type='number']:active,
input[type='password']:focus, input[type='password']:active,
input[type='search']:focus, input[type='search']:active,
input[type='tel']:focus, input[type='tel']:active,
input[type='text']:focus, input[type='text']:active,
input[type='url']:focus, input[type='url']:active,
textarea:focus, textarea:active {
  border-color: #924B34; }

textarea {
  max-width: 100%; }

.form__input--success {
  border-color: #C1843D !important; }

.form__input--error {
  border-color: #C1843D !important; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box; }
.grid--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
.grid--gapless {
  margin: 0; }
.grid--gapless .grid__col {
  padding: 0 !important; }
.grid .grid__col {
  position: relative;
  padding: 0 1rem 1rem; }
.grid .grid__col--12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }
.grid .grid__col--11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }
.grid .grid__col--10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }
.grid .grid__col--9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }
.grid .grid__col--8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }
.grid .grid__col--7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }
.grid .grid__col--6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }
.grid .grid__col--5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }
.grid .grid__col--4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }
.grid .grid__col--3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }
.grid .grid__col--2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }
.grid .grid__col--1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

@media (max-width: 425px) {
.grid .grid__col--s-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }
.grid .grid__col--s-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }
.grid .grid__col--s-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }
.grid .grid__col--s-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }
.grid .grid__col--s-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }
.grid .grid__col--s-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }
.grid .grid__col--s-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }
.grid .grid__col--s-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }
.grid .grid__col--s-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }
.grid .grid__col--s-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }
.grid .grid__col--s-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }
.grid .grid__col--s-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; } }

@media (min-width: 426px) and (max-width: 768px) {
.grid .grid__col--m-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }
.grid .grid__col--m-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }
.grid .grid__col--m-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }
.grid .grid__col--m-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }
.grid .grid__col--m-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }
.grid .grid__col--m-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }
.grid .grid__col--m-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }
.grid .grid__col--m-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }
.grid .grid__col--m-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }
.grid .grid__col--m-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }
.grid .grid__col--m-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }
.grid .grid__col--m-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; } }

.list {
  margin: 3rem 0; }
.list--inline > li {
  float: left;
  margin-right: 5rem; }
.list--inline > li:last-of-type {
  margin-right: 0; }
.list--unstyled {
  padding: 0;
  list-style: none; }

.hr {
  margin: 3.5rem 0;
  width: 100%;
  height: .1rem;
  background-color: #924B34;
  border: none; }

.hr--small {
  width: 30%; }

h1 {
  font-size: 4.47898rem; }
h2 {
  font-size: 3.73248rem; }
h3 {
  font-size: 3.1104rem; }
h4 {
  font-size: 2.592rem; }
h5 {
  font-size: 2.16rem; }
h6 {
  font-size: 1.5rem; }

.utility__text--left {
  text-align: left; }

.utility__text--right {
  text-align: right; }

.utility__text--center {
  text-align: center; }

.utility__text--highlight {
  padding: .25rem;
  color: #000;
  background-color: #fdf72e; }

.utility__text--loud {
  font-weight: 700;
  color: #343841; }

.utility__text--quiet {
  color: #979daa; }

.utility__pos--center {
  margin-left: auto;
  margin-right: auto; }

.utility__pos--left {
  margin-left: 0;
  margin-right: auto; }

.utility__pos--right {
  margin-left: auto;
  margin-right: 0; }

.utility__pos--center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.utility__float--left {
  float: left; }

.utility__float--right {
  float: right; }

.utility__clearfix, .list--inline {
  *zoom: 1; }

.utility__clearfix:before, .list--inline:before, .utility__clearfix:after, .list--inline:after {
  content: " ";
  display: table; }

.utility__clearfix:after, .list--inline:after {
  clear: both; }

.utility__hidden--s, .utility__hidden--m, .utility__hidden--l {
  display: initial;
  visibility: visible; }

@media (min-width: 769px) {
  .utility__hidden--m.utility__hidden--l,
  .utility__hidden--l.utility__hidden--s,
  .utility__hidden--l {
    display: none; } }

@media (max-width: 425px) {
  .utility__hidden--l.utility__hidden--s,
  .utility__hidden--s {
    display: none; } }

@media (min-width: 426px) and (max-width: 768px) {
  .utility__hidden--m.utility__hidden--l,
  .utility__hidden--m {
    display: none; } }


